[user]
    name = ErikBoesen
    email = me@erikboesen.com
[credential]
    helper = store
[core]
    whitespace = warn
    autocrlf = input
    excludesfile = ~/.gitignore
[github]
	user = ErikBoesen
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[ghi]
	token = !security find-internet-password -a ErikBoesen -s github.com -l 'ghi token' -w
[pull]
	rebase = false
