"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-previous-history
"\eOA": history-next-history

set colored-stats on
set completion-ignore-case on
set completion-query-items 0
set page-completions off
set completion-ignore-case on
