[user]
	signingkey = AE87239A4A8A2A1A
	name = ErikBoesen
	email = me@erikboesen.com
[commit]
	gpgsign = true
[credential]
	helper = store
[core]
	editor = vim
	whitespace = warn
[github]
	user = ErikBoesen
