"*":
  "atom-beautify":
    general:
      _analyticsUserId: "30dcdbc9-30cc-42ba-9ebc-5c683164f8b1"
    html:
      wrap_line_length: 0
  "atom-latex":
    clean_after_build: true
    compiler_param: "-synctex=1 -shell-escape -interaction=nonstopmode -file-line-error"
    file_ext_to_clean: "*.aux, *.bbl, *.blg, *.idx, *.ind, *.lof, *.lot, *.out, *.toc, *.acn, *.acr, *.alg, *.glg, *.glo, *.gls, *.ist, *.fls, *.log, *.fdb_latexmk, *.synctex.gz"
    hide_log_if_success: true
    preview_after_build: "View in PDF viewer tab"
    save_on_build: true
    toolchain: "custom toolchain"
  "atom-material-ui":
    colors:
      abaseColor: "#ff3d33"
  core:
    autoHideMenuBar: true
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "victis-syntax"
    ]
  editor:
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "ac5deb7f-3a94-4581-8ee4-5a2029783b38"
  "linter-pylama":
    ignoreErrorsAndWarnings: "D203,D212,D213,D404,E501"
  "linter-ui-default": {}
  minimap: {}
  welcome:
    showOnStartup: false
