[user]
	signingkey = 14AA20F54C40390BDA85B57131871195955B5C8B
	name = ErikBoesen
	email = me@erikboesen.com
[commit]
	gpgsign = true
[alias]
	log = log --pretty=oneline

[credential]
	helper = store
[core]
	editor = vim
	whitespace = warn
