[user]
	signingkey = 4A8A2A1A
	name = ErikBoesen
	email = me@erikboesen.com
[credential]
	helper = store
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
[alias]
	gud = clone https://github.com/jezen/is-thirteen
[github]
	user = ErikBoesen
[ghi]
	token = !security find-internet-password -a ErikBoesen -s github.com -l 'ghi token' -w
