[user]
	signingkey = 4A8A2A1A
	name = ErikBoesen
	email = me@erikboesen.com
[credential]
	helper = store
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/boesen/.gitignore
[alias]
	gud = clone https://github.com/jezen/is-thirteen
